flows (1).json
[{"id":"53d585098ec6dda2","type":"tab","label":"ProyectoIoT_Grupo10","disabled":false,"info":"","env":[]},{"id":"32dd049b38e5f8a0","type":"group","z":"53d585098ec6dda2","name":"Flujo de manejo de ID y datos de Usuario","style":{"stroke":"#0070c0","label":true,"fill":"#7fb7df","fill-opacity":"0.66","color":"#3f93cf"},"nodes":["c2eea7804350e5f7","95971f76e0544e2e","061f878460e2646d","17f85d16148fee2e","d01984a8791fef6e","d6b8611e7a98b839","acd3c3561ea26c92","0cb305e0a09945b2","855643102abb46b3","e9f750faf4a6cf14","6c503aeed0386ed4","13ee50abf30d738b","92e3caaf7012f77b","03dc2eb979d06843","c8a33abc0358f898","167099d137261bd1","5a0a34a9a8c4bbfa","fa1f4031d41f5ea3"],"x":34,"y":1179,"w":1052,"h":282},{"id":"a2d3f04c55cbdcf4","type":"group","z":"53d585098ec6dda2","name":"Logica Usuarios","style":{"label":true,"stroke":"#b797cf","fill":"#b797cf","fill-opacity":"0.31"},"nodes":["efaa53c29f9ed42f","ea00c511943da7ec","6bb72de6bf0110e0","aff511ed81fada42","cc587a0bf6042f05","57231b251d5fe7a8","2e76a1e78ce5a7c9","48a66288cec9d9c6","27a05cef24bd44d8","05f34ad6b9c21846","d88f9733c9183813","f688e20411d15dfe","b31e0c94927ddc26","ce81983ce21e0867","61f874cad31c1ee1","6003358461ac0dd1","6bc77c93653c1711","bcfeb301f487d7f2","7657f92aef23968b","5ae3777d8a81b66d","f090b6c4799db94a","6df013e068d6ba96","8e56ce6a7f39cd06","e47364816480b026","b523c4f38ed491c3","29f34895aae3ec08","6cf542f23f872bc1","d56ac1cd551956a1"],"x":34,"y":39,"w":1332,"h":442},{"id":"e13985f99ec395cd","type":"group","z":"53d585098ec6dda2","name":"Flujo Manejo de Acciones","style":{"stroke":"#addb7b","fill":"#addb7b","fill-opacity":"0.45","label":true},"nodes":["1c98eaa53acf1d3d","a84c4b3202be4ecc","02d8da18e503298b","4c12875fd089c1d4","dd4f252dde2c2e03","17f806f87779931d","ed7769cfa61ad662","991644d7edfae752","881210b25a55c81a","afc92759b252ec21","e71b07259b30a9c6","0bf2b78afb071418","b1a70b7168b44d9d","4b2a9f94d1af9705","c82b2f617c72f6ab","d9cda33ea7cc1b36"],"x":34,"y":499,"w":1072,"h":302},{"id":"1bb95ae6bd645ecf","type":"group","z":"53d585098ec6dda2","name":"Flujo Alertas de intentos erróneos","style":{"stroke":"#ff3f3f","fill":"#ff7f7f","fill-opacity":"0.55","label":true},"nodes":["fa4fe7b07d422e93","5276795864de35bf","46f15510e171fa60","2242f4482f6d8ded","91406764be1a429e","3a9b75af6975b278","da71db9c528442a7","d724e04203018ccc","a3021cf1178a0bd2","1464efc8975c0c0f","5eaccf5b539ebd5a","68eed363ae357c89","4bb299c2c2d335de","4641637c1a8b8329"],"x":34,"y":879,"w":1012,"h":242},{"id":"c2eea7804350e5f7","type":"function","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"Obtener usuario","func":"// Variables a utilizar\nlet registro = false; // Permite saber si se encontró un registro\nlet name = \"\"; // Nombre de usuario\nlet pass = \"\"; // Password del usuario\n\n// Se obtiene el dato del usuario (sí es que existe)\nmsg.payload.forEach(row => {\n    registro = true;\n    name = row.NOMBRE;\n    pass = row.CONTRASENIA;\n});\n\n// Se valida la existencia del usuario\nif(registro){\n    // Si existe, se asignan los datos al flujo.\n    msg.payload = \"Found\";\n    msg.name = name;\n    msg.pass = pass;\n} else {\n    // En caso contrario, se indica en el flujo \"Not found\" (no encontrado).\n    msg.payload = \"Not found\";\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1320,"wires":[["061f878460e2646d","d6b8611e7a98b839"]]},{"id":"95971f76e0544e2e","type":"mqtt in","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"Topic Recibir ID","topic":"st/grupo10/usuario/id_ingresada","qos":"2","datatype":"auto-detect","broker":"ee714524ef08177a","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":1260,"wires":[["17f85d16148fee2e","13ee50abf30d738b"]]},{"id":"061f878460e2646d","type":"debug","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"salida","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":1300,"wires":[]},{"id":"17f85d16148fee2e","type":"function","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"Preparar Consulta","func":"// Recibimos el ID por el payload\nlet id = msg.payload;  \n// Buscamos el usuario que le corresponda la ID\nmsg.topic = `SELECT NOMBRE, CONTRASENIA FROM USUARIOS WHERE ID_USUARIO = ${id}`;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1240,"wires":[["d01984a8791fef6e"]]},{"id":"d01984a8791fef6e","type":"mysql","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","mydb":"6a767e3c7ed955da","name":"","x":170,"y":1380,"wires":[["c2eea7804350e5f7"]]},{"id":"efaa53c29f9ed42f","type":"ui_form","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Formulario de Usuarios","label":"","group":"41c3f0832e2a6dbb","order":1,"width":0,"height":0,"options":[{"label":"Nombre","value":"name","type":"text","required":true,"rows":null},{"label":"Contraseña","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","password":""},"payload":"","submit":"Registrar","cancel":"Limpiar campos","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":170,"y":120,"wires":[["aff511ed81fada42"]],"icon":"font-awesome/fa-drivers-license"},{"id":"ea00c511943da7ec","type":"function","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Preparar INSERT","func":"// Extraemos las variables una vez validado el usuario.\nvar username = msg.name;\nvar password = msg.pass;\n\n// Creamos la inserción con los datos del usuario\nlet sql = `INSERT INTO USUARIOS (NOMBRE, CONTRASENIA) \n            VALUES ('${username}', '${password}');`;\n\nmsg.topic = sql; // Asignamos la consulta en el tópico.\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":180,"wires":[["6bb72de6bf0110e0"]]},{"id":"6bb72de6bf0110e0","type":"mysql","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","mydb":"6a767e3c7ed955da","name":"","x":810,"y":180,"wires":[["48a66288cec9d9c6","b31e0c94927ddc26"]]},{"id":"d6b8611e7a98b839","type":"switch","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"¿Encontrado?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Found","vt":"str"},{"t":"eq","v":"Not found","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1240,"wires":[["acd3c3561ea26c92"],["0cb305e0a09945b2"]]},{"id":"acd3c3561ea26c92","type":"function","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"Encontrado","func":"// Si el usuario fue encontrado, se asignan los datos en un archivo JSON\n// para que sean recibidos por el Arduino.\nmsg.payload = {\n    nombre_usuario: msg.name,\n    contrasena: msg.pass\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1220,"wires":[["6c503aeed0386ed4"]]},{"id":"0cb305e0a09945b2","type":"function","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"No encontrado","func":"// En caso de que no se haya encontrado, se manda un JSON indicando\n// que no se encontró el usuario.\nmsg.payload = {\n    nombre_usuario: \"No encontrado\"\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1260,"wires":[["6c503aeed0386ed4"]]},{"id":"aff511ed81fada42","type":"function","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Validar datos","func":"\n// Se extraen los datos del formulario\nvar username = msg.payload.name;\nvar password = msg.payload.password;\n\nvar validado = \"\"; // Permite saber si ya está validado\n// Expresión regular para permitir solo números en la contraseña\nlet validacionPass = /^[0-9]+$/; \n\n// Se verifica que el nombre de usuario no se exceda de los 16 carácteres\nif(username.length > 16){\n    validado = \"username max characters\";\n    msg.validado = validado;\n// Se verifica que la contraseña no se exceda de 16 carácteres. \n} else if (password.length > 16){\n    validado = \"password max characters\";\n    msg.validado = validado;\n// Se verifica que la contraseña tenga solamente carácteres numéricos\n} else if (!validacionPass.test(password)){\n    validado = \"invalid characters\";\n    msg.validado = validado;\n} else {\n    // Si todo es validado, se asignan las variables en el flujo.\n    validado = \"yes\";\n    msg.validado = validado;\n    msg.name = username;\n    msg.pass = password;\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":180,"wires":[["cc587a0bf6042f05"]]},{"id":"cc587a0bf6042f05","type":"switch","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"¿Permitido?","property":"validado","propertyType":"msg","rules":[{"t":"eq","v":"username max characters","vt":"str"},{"t":"eq","v":"password max characters","vt":"str"},{"t":"eq","v":"invalid characters","vt":"str"},{"t":"eq","v":"yes","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":140,"wires":[["2e76a1e78ce5a7c9"],["2e76a1e78ce5a7c9"],["2e76a1e78ce5a7c9"],["ea00c511943da7ec"]]},{"id":"57231b251d5fe7a8","type":"ui_toast","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Cargar mensaje de Error","x":850,"y":100,"wires":[[]]},{"id":"2e76a1e78ce5a7c9","type":"function","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Mensaje de error","func":"\n// Se extrae el mensaje de error\nvar caso = msg.validado;\n\n// Se configura el mensaje de error en base del caso ocurrido.\nif(caso === \"username max characters\"){\n    msg.topic = \"Error\";\n    msg.payload = \"El nombre de usuario debe tener máximo 16 caracteres\";\n} else if (caso === \"password max characters\"){\n    msg.topic = \"Error\";\n    msg.payload = \"La contraseña debe tener máximo 16 caracteres\";\n} else {\n    msg.topic = \"Error\";\n    msg.payload = \"La contraseña solo debe tener valores númericos\";\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":100,"wires":[["57231b251d5fe7a8"]]},{"id":"48a66288cec9d9c6","type":"function","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Mensaje de éxito","func":"// Se carga un mensaje de operación éxitosa\nif (msg.payload){\n    msg.topic = \"Operación éxitosa\";\n    msg.payload = \"Usuario Registrado Exitosamente\";\n    return msg;\n}\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":180,"wires":[["05f34ad6b9c21846","27a05cef24bd44d8"]]},{"id":"27a05cef24bd44d8","type":"debug","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"salida","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":240,"wires":[]},{"id":"05f34ad6b9c21846","type":"ui_toast","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Mostrar mensaje de éxito","x":1090,"y":120,"wires":[[]]},{"id":"d88f9733c9183813","type":"ui_table","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","group":"41c3f0832e2a6dbb","name":"Tabla Usuarios","order":3,"width":"8","height":8,"columns":[],"outputs":0,"cts":false,"x":860,"y":260,"wires":[]},{"id":"f688e20411d15dfe","type":"ui_ui_control","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Cargar Usuarios","events":"all","x":140,"y":280,"wires":[["b31e0c94927ddc26"]]},{"id":"b31e0c94927ddc26","type":"function","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Consulta SELECT","func":"// Consulta para extraer los datos de la tabla de Usuarios\nmsg.topic = \"SELECT ID_USUARIO AS ID, NOMBRE, CONTRASENIA FROM USUARIOS;\";\nmsg.payload = \"\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":260,"wires":[["ce81983ce21e0867"]]},{"id":"ce81983ce21e0867","type":"mysql","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","mydb":"6a767e3c7ed955da","name":"","x":690,"y":260,"wires":[["d88f9733c9183813"]]},{"id":"61f874cad31c1ee1","type":"ui_button","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Eliminar usuarios","group":"41c3f0832e2a6dbb","order":2,"width":0,"height":0,"passthru":false,"label":"Eliminar Usuarios","tooltip":"","color":"","bgcolor":"","className":"","icon":"sentiment_dissatisfied","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":420,"wires":[["6003358461ac0dd1","7657f92aef23968b","f090b6c4799db94a","5ae3777d8a81b66d"]]},{"id":"6003358461ac0dd1","type":"function","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Consulta DELETE Usuarios","func":"/**\n * Consulta para eliminar todos los datos de los usuarios.\n * Esto incluye todos los datos de otras tablas que se\n * relacionen a la id de los usuarios eliminados.\n */\nlet sql = \"DELETE FROM USUARIOS;\"\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["6bc77c93653c1711"]]},{"id":"6bc77c93653c1711","type":"mysql","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","mydb":"6a767e3c7ed955da","name":"","x":710,"y":320,"wires":[["bcfeb301f487d7f2","b31e0c94927ddc26"]]},{"id":"bcfeb301f487d7f2","type":"function","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Mensaje de éxito","func":"// Se carga un mensaje de operación éxitosa\nif (msg.payload){\n    msg.topic = \"Operación éxitosa\";\n    msg.payload = \"Se han eliminado los usuarios del sistema\";\n    return msg;\n}\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":360,"wires":[["6df013e068d6ba96","e47364816480b026","d56ac1cd551956a1"]]},{"id":"7657f92aef23968b","type":"function","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Reiniciar AUTOINCREMENT Usuarios","func":"// Reinicia el conteo del AUTO_INCREMENT en la tabla Usuarios\nlet sql = \"ALTER TABLE USUARIOS AUTO_INCREMENT = 1;\"\nmsg.topic = sql;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["8e56ce6a7f39cd06"]]},{"id":"5ae3777d8a81b66d","type":"function","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Reiniciar AUTOINCREMENT Alarma","func":"// Reinicia el conteo del AUTO_INCREMENT en la tabla LOG_ALERTAS\nlet sql = \"ALTER TABLE LOG_ALERTAS AUTO_INCREMENT = 1;\"\nmsg.topic = sql;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":440,"wires":[["8e56ce6a7f39cd06"]]},{"id":"f090b6c4799db94a","type":"function","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Reiniciar AUTOINCREMENT Accion","func":"// Reinicia el conteo del AUTO_INCREMENT en la tabla LOG_ACCIONES\nlet sql = \"ALTER TABLE LOG_ACCION AUTO_INCREMENT = 1;\"\nmsg.topic = sql;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":400,"wires":[["8e56ce6a7f39cd06"]]},{"id":"6df013e068d6ba96","type":"ui_toast","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Mostrar mensaje de éxito","x":1030,"y":420,"wires":[[]]},{"id":"8e56ce6a7f39cd06","type":"mysql","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","mydb":"6a767e3c7ed955da","name":"","x":770,"y":400,"wires":[[]]},{"id":"1c98eaa53acf1d3d","type":"mqtt in","z":"53d585098ec6dda2","g":"e13985f99ec395cd","name":"Topic entrada o salida","topic":"st/grupo10/usuario/iduser_entrada_salida","qos":"2","datatype":"auto-detect","broker":"ee714524ef08177a","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":580,"wires":[["a84c4b3202be4ecc"]]},{"id":"a84c4b3202be4ecc","type":"function","z":"53d585098ec6dda2","g":"e13985f99ec395cd","name":"Consulta ENTRADA o SALIDA existente","func":"/**\n * Se extrae la id del usuario enviada por el Arduino. Esta id de usuario\n * es permitirá saber cuando registrar ENTRADAS o SALIDAS\n */\nmsg.iduser = msg.payload; // Se recibe la ID del usuario\n\n// Se valida que la id de usuario para evitar errores\nif (!msg.iduser || isNaN(msg.iduser)) {\n    throw new Error(\"El valor de iduser no es válido\");\n}\n\n/**\n * Se crea una consulta que permitirá obtener el último registro realizado\n * por un usuario (mediante su id) para conocer si es que realizó una ENTRADA\n * o una SALIDA.\n */\nlet sql = `SELECT * FROM LOG_ACCION \nWHERE ID_USUARIO = ${msg.iduser} ORDER BY FECHA_HORA_ACCION DESC LIMIT 1;` \n\nmsg.topic = sql; // Asignamos la consulta en el tópico\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":580,"wires":[["02d8da18e503298b"]]},{"id":"02d8da18e503298b","type":"mysql","z":"53d585098ec6dda2","g":"e13985f99ec395cd","mydb":"6a767e3c7ed955da","name":"","x":150,"y":640,"wires":[["4c12875fd089c1d4"]]},{"id":"4c12875fd089c1d4","type":"function","z":"53d585098ec6dda2","g":"e13985f99ec395cd","name":"¿Cuál  fue la última acción?","func":"// Variables a utilizar\nlet registro = false; // Representa si es que se encontró un registro\nlet accion = \"\"; // Define la última acción realizada\n\n/*\n    Si existe un registro de entrada o salida para el usuario que está ingresando\n    se toma la última acción encontrada.\n*/\nmsg.payload.forEach(row => {\n    registro = true;\n    accion = row.ACCION;\n});\n\n// Si es que hay registro\nif(registro){\n    if(accion === \"ENTRADA\"){\n        // Si el registro actual es ENTRADA, se registra una SALIDA.\n        let sql = `INSERT INTO LOG_ACCION (ID_USUARIO, ACCION)\n                VALUES (${msg.iduser}, 'SALIDA')`;\n        msg.topic = sql;\n        msg.accionActual = \"SALIDA\"; // Permitirá mostrar una notificación en pantalla indicando la acción\n\n    } else if(accion === \"SALIDA\"){\n        // Si el registro actual es SALIDA, se registra una ENTRADA.\n        let sql = `INSERT INTO LOG_ACCION (ID_USUARIO, ACCION)\n                VALUES (${msg.iduser}, 'ENTRADA')`;\n        msg.topic = sql;\n        msg.accionActual = \"ENTRADA\";\n    }\n} else {\n    // En caso de que no haya registro, se registra por defecto como ENTRADA.\n    let sql = `INSERT INTO LOG_ACCION (ID_USUARIO, ACCION)\n                VALUES (${msg.iduser}, 'ENTRADA')`;\n    msg.topic = sql;\n    msg.accionActual = \"ENTRADA\";\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":640,"wires":[["dd4f252dde2c2e03"]]},{"id":"dd4f252dde2c2e03","type":"mysql","z":"53d585098ec6dda2","g":"e13985f99ec395cd","mydb":"6a767e3c7ed955da","name":"","x":150,"y":700,"wires":[["afc92759b252ec21","17f806f87779931d"]]},{"id":"17f806f87779931d","type":"function","z":"53d585098ec6dda2","g":"e13985f99ec395cd","name":"SELECT Última acción","func":"\n/**\n * Se prepara una consulta para obtener la el nombre del\n * último usuario que haya registrado una ACCION.\n */\nlet sql =\n`SELECT \n    USUARIOS.NOMBRE AS Usuario\nFROM \n    LOG_ACCION\nJOIN \n    USUARIOS\nON \n    LOG_ACCION.ID_USUARIO = USUARIOS.ID_USUARIO\nWHERE\n    LOG_ACCION.ID_USUARIO = ${msg.iduser} \nORDER BY \n    LOG_ACCION.FECHA_HORA_ACCION\nDESC\n    LIMIT 1;\n`;\nmsg.payload = \"\"; // Limpiamos el payload\nmsg.topic = sql; // Asignamos la consulta en el tópico. \n\nreturn msg;\n\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":700,"wires":[["0bf2b78afb071418"]]},{"id":"ed7769cfa61ad662","type":"ui_toast","z":"53d585098ec6dda2","g":"e13985f99ec395cd","position":"top right","displayTime":"8","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Notificación de Acción","x":740,"y":640,"wires":[]},{"id":"991644d7edfae752","type":"ui_table","z":"53d585098ec6dda2","g":"e13985f99ec395cd","group":"1f6f0b5bc638bfe6","name":"Tabla Acciones","order":1,"width":"10","height":"12","columns":[],"outputs":0,"cts":false,"x":940,"y":760,"wires":[]},{"id":"fa4fe7b07d422e93","type":"ui_table","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","group":"e6178f356797fb80","name":"Tabla Alertas","order":1,"width":"10","height":"12","columns":[],"outputs":0,"cts":false,"x":950,"y":920,"wires":[]},{"id":"881210b25a55c81a","type":"mysql","z":"53d585098ec6dda2","g":"e13985f99ec395cd","mydb":"6a767e3c7ed955da","name":"","x":570,"y":760,"wires":[["e71b07259b30a9c6"]]},{"id":"5276795864de35bf","type":"mysql","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","mydb":"6a767e3c7ed955da","name":"","x":590,"y":920,"wires":[["2242f4482f6d8ded"]]},{"id":"afc92759b252ec21","type":"function","z":"53d585098ec6dda2","g":"e13985f99ec395cd","name":"SELECT LOG_ACCION","func":"/**\n * Esta consulta nos permitirá obtener el nombre del usuario,\n * la acción que realizó, y la fecha y hora de la acción.\n */\nlet sql =\n`SELECT \n    USUARIOS.NOMBRE AS Usuario,\n    LOG_ACCION.ACCION AS Accion,\n    LOG_ACCION.FECHA_HORA_ACCION AS FechaHora\nFROM \n    LOG_ACCION\nJOIN \n    USUARIOS\nON \n    LOG_ACCION.ID_USUARIO = USUARIOS.ID_USUARIO;\n`;\nmsg.topic = sql; // Asignamos la consulta en el tópico\nmsg.payload = \"\"; // Limpiamos el payload\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":760,"wires":[["881210b25a55c81a"]]},{"id":"46f15510e171fa60","type":"function","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","name":"SELECT LOG_ALERTA","func":"/**\n * Esta consulta nos permite obtener el usuario con el cual se a intentado ingresar,\n * la última contraseña que ha ingresado, y la fecha y hora de la alerta.\n */\nlet sql =\n`SELECT \n    USUARIOS.NOMBRE AS Usuario,\n    LOG_ALERTAS.INTENTO_CONTRASENIA AS PassErronea,\n    LOG_ALERTAS.FECHA_HORA_ALERTA AS FechaHora\nFROM \n    LOG_ALERTAS\nJOIN \n    USUARIOS\nON \n    LOG_ALERTAS.ID_USUARIO = USUARIOS.ID_USUARIO;\n`;\nmsg.topic = sql; // Asignamos la consulta al payload\nmsg.payload = \"\"; // Limpiamos el payload\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":920,"wires":[["5276795864de35bf"]]},{"id":"be5443663bfeb64b","type":"ui_ui_control","z":"53d585098ec6dda2","name":"","events":"all","x":100,"y":840,"wires":[["afc92759b252ec21","46f15510e171fa60"]]},{"id":"e71b07259b30a9c6","type":"function","z":"53d585098ec6dda2","g":"e13985f99ec395cd","name":"Formateo de fecha","func":"// Obtenemos cada uno de los registros\nmsg.payload.forEach(row => {\n    let fechaOriginal = new Date(row.FechaHora); // Convierte a objeto Date\n\n    // Se le restan 3 horas,\n    // esto es para mantener la coherencia de fechas y horas.\n    fechaOriginal.setHours(fechaOriginal.getHours() - 3);\n\n    // Se obtiene 'YYYY-MM-DD' y 'HH:mm:ss'\n    row.FechaHora = fechaOriginal.toISOString().slice(0, 16).replace('T', ' ');\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":760,"wires":[["991644d7edfae752"]]},{"id":"2242f4482f6d8ded","type":"function","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","name":"Formateo de fecha","func":"// Obtenemos cada registro de la consulta\nmsg.payload.forEach(row => {\n    let fechaOriginal = new Date(row.FechaHora); // Convierte a objeto Date\n\n    // Se le restan 3 horas,\n    // esto es para mantener la coherencia de fechas y horas.\n    fechaOriginal.setHours(fechaOriginal.getHours() - 3);\n\n    // Se obtiene 'YYYY-MM-DD' y 'HH:mm:ss'\n    row.FechaHora = fechaOriginal.toISOString().slice(0, 16).replace('T', ' ');\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":920,"wires":[["fa4fe7b07d422e93"]]},{"id":"91406764be1a429e","type":"mqtt in","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","name":"Topic intento erróneo","topic":"st/grupo10/usuario/data_intento_erroneo","qos":"2","datatype":"auto-detect","broker":"ee714524ef08177a","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":1040,"wires":[["3a9b75af6975b278"]]},{"id":"3a9b75af6975b278","type":"function","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","name":"Recibimiento de datos + Inserción","func":"\n/**\n * Este tópico nos entregará un archivo JSOn con los datos referentes\n * al intento de ingreso erróneo con algún usuario. Esto con el fin de mantener\n * un registro de los intentos de ingreso no permitidos dentro de nuestro sistema.\n * (Puede utilizarse para saber qué contraseñas no hay que utilizar a la hora de crear usuarios).\n */\n\n/** Ejemplo:\n {\n  \"iduser\": 1,\n  \"wrongPass\": \"6666\"\n}\n */\n\nlet iduser = msg.payload.iduser; // ID del usuario con el cuál se intentó ingresar.\nmsg.iduser = iduser; // ID del usuario para mostrar la alerta como notificación\nlet incorrectPass = msg.payload.wrongPass; // La contraseña ingresada en el último tercer intento fallido.\n\n// Se prepara la consulta para guardar el registro.\nlet sql = `INSERT INTO LOG_ALERTAS (ID_USUARIO, INTENTO_CONTRASENIA)\n            VALUES (${iduser}, '${incorrectPass}');`;\nmsg.topic = sql; // Se asigna al topico.\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1040,"wires":[["da71db9c528442a7"]]},{"id":"da71db9c528442a7","type":"mysql","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","mydb":"6a767e3c7ed955da","name":"","x":170,"y":980,"wires":[["d724e04203018ccc","46f15510e171fa60"]]},{"id":"d724e04203018ccc","type":"function","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","name":"SELECT Última alarma","func":"\n/**\n * Esta consulta nos permitirá obtener la última alerta registrada, de esta manera\n * mostrar una notificación en pantalla indicando que alguien a intentado ingresar\n * con un usuario.\n */\n\nlet sql =\n`SELECT \n    USUARIOS.NOMBRE AS Usuario\nFROM \n    LOG_ALERTAS\nJOIN \n    USUARIOS\nON \n    LOG_ALERTAS.ID_USUARIO = USUARIOS.ID_USUARIO\nWHERE\n    LOG_ALERTAS.ID_USUARIO = ${msg.iduser} \nORDER BY \n    LOG_ALERTAS.FECHA_HORA_ALERTA\nDESC\n    LIMIT 1;\n`;\nmsg.topic = sql;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":980,"wires":[["a3021cf1178a0bd2"]]},{"id":"a3021cf1178a0bd2","type":"mysql","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","mydb":"6a767e3c7ed955da","name":"","x":590,"y":980,"wires":[["1464efc8975c0c0f"]]},{"id":"1464efc8975c0c0f","type":"function","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","name":"Notificación de alerta","func":"\n\nlet username = \"\"; // Nombre del usuario\n\n// Se obtiene el nombre del usuario\nmsg.payload.forEach(row => {\n    username = row.Usuario;\n});\n\n// Se preparan los datos para mostrar la notificación\n\nmsg.topic = \"ALERTA\";\nmsg.payload = `¡¡Alguien intentó ingresar con el usuario ${username}!!`;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1020,"wires":[["5eaccf5b539ebd5a","4641637c1a8b8329"]]},{"id":"5eaccf5b539ebd5a","type":"ui_toast","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Mostramos la notificación","x":810,"y":1060,"wires":[]},{"id":"0bf2b78afb071418","type":"mysql","z":"53d585098ec6dda2","g":"e13985f99ec395cd","mydb":"6a767e3c7ed955da","name":"","x":550,"y":700,"wires":[["b1a70b7168b44d9d"]]},{"id":"b1a70b7168b44d9d","type":"function","z":"53d585098ec6dda2","g":"e13985f99ec395cd","name":"Selección de notificación","func":"// Se extrae la acción actual (ENTRADA o SALIDA)\nlet action = msg.accionActual;\nlet username = \"\"; // Nombre del usuario\n\n// Se obtiene el nombre del usuario\nmsg.payload.forEach(row => {\n    username = row.Usuario;\n});\n\n// Se carga un mensaje en base a la acción realizada\nif (action === \"ENTRADA\") {\n    msg.topic = \"Aviso de ENTRADA\";\n    msg.payload = `El usuario ${username} a registrado una ENTRADA`;\n    return msg;\n} else {\n    msg.topic = \"Aviso de SALIDA\";\n    msg.payload = `El usuario ${username} a registrado una SALIDA`;\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":700,"wires":[["ed7769cfa61ad662","d9cda33ea7cc1b36"]]},{"id":"e47364816480b026","type":"mqtt out","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Actualizar Tablas","topic":"intern/grupo10/update_tables","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1261983b054bc690","x":1010,"y":300,"wires":[]},{"id":"4b2a9f94d1af9705","type":"mqtt in","z":"53d585098ec6dda2","g":"e13985f99ec395cd","name":"Actualizar Tablas","topic":"intern/grupo10/update_tables","qos":"2","datatype":"auto-detect","broker":"1261983b054bc690","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":760,"wires":[["afc92759b252ec21"]]},{"id":"68eed363ae357c89","type":"mqtt in","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","name":"Actualizar Tablas","topic":"intern/grupo10/update_tables","qos":"2","datatype":"auto-detect","broker":"1261983b054bc690","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":920,"wires":[["46f15510e171fa60"]]},{"id":"855643102abb46b3","type":"mqtt in","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"Verificar envío ","topic":"st/grupo10/usuario/enviarData","qos":"2","datatype":"auto-detect","broker":"ee714524ef08177a","nl":false,"rap":true,"rh":0,"inputs":0,"x":350,"y":1420,"wires":[["167099d137261bd1"]]},{"id":"e9f750faf4a6cf14","type":"debug","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"salida","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1420,"wires":[]},{"id":"6c503aeed0386ed4","type":"mqtt out","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"Enviar Data","topic":"st/grupo10/usuario/enviarData","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ee714524ef08177a","x":990,"y":1240,"wires":[]},{"id":"13ee50abf30d738b","type":"debug","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"salida","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":1300,"wires":[]},{"id":"92e3caaf7012f77b","type":"delay","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":650,"y":1380,"wires":[["c8a33abc0358f898"]]},{"id":"03dc2eb979d06843","type":"mqtt out","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"Enviar Data","topic":"st/grupo10/usuario/enviarData","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ee714524ef08177a","x":870,"y":1400,"wires":[]},{"id":"c8a33abc0358f898","type":"function","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"Resetear el valor persistente del topico","func":"// Para formatear el valor almacenado en el tópico, se asigna un valor llamado\n// \"not execute\" para que el Arduino no ejecute la operación.\nmsg.payload = \"not execute\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1340,"wires":[["03dc2eb979d06843"]]},{"id":"167099d137261bd1","type":"function","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"¿Envió?","func":"\n// Este método verifica que el mensaje no sea \"not execute\"\n// para no volver a formatear el dato del tópico.\n\nlet message = msg.payload;  \n\nif (message === \"not execute\"){\n    // No ocurre nada\n} else {\n    // En caso de que el mensaje no sea \"not execute\",\n    // significa que si existe un dato en el tópico, por lo tanto\n    // se procede a reiniciar el tópico.\n    return msg;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1420,"wires":[["92e3caaf7012f77b","e9f750faf4a6cf14"]]},{"id":"79238b25cf17186d","type":"comment","z":"53d585098ec6dda2","name":"Carga de ALERTAS y ACCIONES","info":"# Lógica de carga de acciones y alertas\nEn este flujo permite cargar los datos de la tabla Acciones y Alertas al cargar la página del dashboard.\nAdemás, estos datos se actualizarán en tiempo real si es que se crearon registros en las respectivas tablas.","x":350,"y":840,"wires":[]},{"id":"b523c4f38ed491c3","type":"comment","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Ingreso de Usuarios","info":"# Lógica del ingreso de usuarios.\nEn este flujo de datos se reciben los datos del formulario de usuarios, se validan los datos del usuarios\npara que no se ingresen nombres y contraseñas que sobrepasen los 16 carácteres, y que la contraseña sea \nsolamente con carácteres numéricos.\n\nUna vez validado los datos, se prepara la consulta de Inserción para poder registrar al usuario\nen el sistema, junto a un mensaje de éxito. En caso de que no se haya válidado el usuario,\nse indicará un mensaje de error indicando en qué cosa a fallado el usuario en sus datos. ","x":150,"y":80,"wires":[]},{"id":"6cf542f23f872bc1","type":"comment","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Carga de usuarios","info":"# Lógica de la carga de usuarios\nEn este flujo se realizará una consulta a la base de datos para obtener los usuarios\nregistrados junto a su id, su nombre y su contrsaseña. Esto es para tener una\nretroalimentación de qué usuarios están registrados en el sistema.\n\n## ¿Cuándo se cargaran los datos?\nLos datos se cargaran al cargar la página dashboard, al ingresar datos y al eliminar los datos.\nTodo esto en tiempo real.","x":150,"y":240,"wires":[]},{"id":"29f34895aae3ec08","type":"comment","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Eliminación de usuarios","info":"# Lógica de eliminación de usuarios\nDentro del formulario de ingreso de usuarios, habrá un botón para poder eliminar todos los registros\nrelacionados a los usuarios. Esto conlleva eliminar todos los demás datos del sistema (ACCIONES y ALARMAS).\n\nAdemás se eliminar datos, se reiniciará el valor AUTO_INCREMENT de todos los campos ID de las tablas.\nPermitiendo así una mejor coherencia de datos.","x":160,"y":380,"wires":[]},{"id":"c82b2f617c72f6ab","type":"comment","z":"53d585098ec6dda2","g":"e13985f99ec395cd","name":"Registro de Acciones","info":"# Lógica de registro de acciones\nPara poder registrar una acción, el Arduino debe enviar la id del usuario que acaba de permitirse su acceso,\nluego de esto, se realizará una consulta a la tabla de LOG_ACCION para yo poder saber si ya existe un registro\nanterior para yo poder saber si registrar una ENTRADA o una SALIDA. \n\nEn caso de que ya haya una ENTRADA, se registra una SALIDA. En caso de que ya haya una SALIDA, se registra\nuna ENTRADA. En caso de que no exista una acción anteriormente registrada, se registra una ENTRADA.\n\nUna vez se haya registrado una SALIDA o ENTRADA, se mostrará una notificación en pantalla indicando el \nusuario que ha registrado una acción.","x":180,"y":540,"wires":[]},{"id":"4bb299c2c2d335de","type":"comment","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","name":"Intentos erróneos","info":"# Lógica de intentos erróneos\nUna vez se hayan acabado los intentos de ingreso de contraseña desde el Arduino, este enviará por el tópico\n\"st/grupo10/usuario/data_intento_erroneo\" un archivo JSON con la id del usuario que se intentó ingresar junto\na la contraseña del último intento. Esto se ajustará en una consulta de Inserción para poder guardar el\nregistro en la bsse de datos. Una vez guardado un registro, se mostrará una alerta en pantalla indicando\nque se intentó ingresar de manera fallida con un usuario.","x":160,"y":1080,"wires":[]},{"id":"5a0a34a9a8c4bbfa","type":"comment","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"ID y datos de usuario","info":"# Lógica al recibir id y enviar datos de usuario\nDesde el Arduino, se enviarña al flujo del NodeRed por el tópico \"st/grupo10/usuario/id_ingresada\" la id del\nusuario con el que se quiere ingresar, por lo tanto, se creará una consulta para buscar al usuario que le\ncorresponda la id ingresada. En caso de que se encuentre este usuario, se enviará por el tópico \n\"st/grupo10/usuario/enviarData\" un archivo JSON con el nombre del usuario y la contraseña para que se \npueda ingresar sesión desde el Arduino. En caso contrario, se envía un archivo JSON con el mensaje\n\"No encontrado\" para que, desde el Arduino, se indique que el usuario no fue encontrado.","x":160,"y":1220,"wires":[]},{"id":"fa1f4031d41f5ea3","type":"comment","z":"53d585098ec6dda2","g":"32dd049b38e5f8a0","name":"Formateo de tópico EnviarDatos","info":"# Lógica de formateo del tópico EnviarDatos\nEl tópico EnviarDatos se configuró para que mantenga almacenados los datos, osea, si recibe nuevos\nsuscriptores, todos estos recibirán el archivo almacenado en el tópico. Esto permite que el Arduino siempre\nlogre recibir los datos por el tópico seleccionado, pero generaba problemas al siempre estar recibiendo\nel mismo dato.\n\nDebido a lo anterior, se definió un flujo para que, una vez enviado los datos de un usuario por el tópico\nEnviarDatos, se reiniciara el valor dentro del tópico por el valor \"not execute\". De esta forma, ek Arduino\nsi recibía el mensaje \"not execute\" lograba reconocer que el tópico estaba limpio, por lo tanto seguía\nfuncionando sin problemas de repetición de datos del usuario. Gracias a esto, el Arduino solo entraba a\nmodo contraseña solo cuando recibía el JSON con datos, mejorando así la estabilidad y flujo del sistema.","x":410,"y":1380,"wires":[]},{"id":"2ac29dc1ff14aa06","type":"mqtt out","z":"53d585098ec6dda2","name":"","topic":"st/grupo10/usuario/enviarData","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ee714524ef08177a","x":1230,"y":980,"wires":[]},{"id":"1c8f1e5c2ce16c66","type":"mqtt out","z":"53d585098ec6dda2","name":"","topic":"st/grupo10/usuario/enviarData","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c2eeb58e8f64499b","x":1250,"y":1060,"wires":[]},{"id":"d9cda33ea7cc1b36","type":"mqtt out","z":"53d585098ec6dda2","g":"e13985f99ec395cd","name":"Notificaciones Móvil","topic":"st/grupo10/usuario/notificacionesMovil","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ee714524ef08177a","x":980,"y":640,"wires":[]},{"id":"4641637c1a8b8329","type":"mqtt out","z":"53d585098ec6dda2","g":"1bb95ae6bd645ecf","name":"Notificaciones Móvil","topic":"st/grupo10/usuario/notificacionesMovil","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ee714524ef08177a","x":840,"y":980,"wires":[]},{"id":"d56ac1cd551956a1","type":"mqtt out","z":"53d585098ec6dda2","g":"a2d3f04c55cbdcf4","name":"Notificaciones Móvil","topic":"st/grupo10/usuario/notificacionesMovil","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ee714524ef08177a","x":1240,"y":360,"wires":[]},{"id":"ee714524ef08177a","type":"mqtt-broker","name":"Eclipse test mqtt","broker":"mqtt.eclipseprojects.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6a767e3c7ed955da","type":"MySQLdatabase","name":"dbProyecto","host":"172.17.0.3","port":"3306","db":"dbProyecto","tz":"","charset":"UTF8"},{"id":"41c3f0832e2a6dbb","type":"ui_group","name":"Registro de Usuarios","tab":"988082c151b02624","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"1f6f0b5bc638bfe6","type":"ui_group","name":"Acciones","tab":"988082c151b02624","order":2,"disp":true,"width":10,"collapse":false,"className":""},{"id":"e6178f356797fb80","type":"ui_group","name":"Alertas","tab":"988082c151b02624","order":3,"disp":true,"width":10,"collapse":false,"className":""},{"id":"1261983b054bc690","type":"mqtt-broker","name":"MQTT Interno","broker":"10.244.228.44","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"c2eeb58e8f64499b","type":"mqtt-broker","name":"Server Grupo10","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"988082c151b02624","type":"ui_tab","name":"Ingrese un Usuario","icon":"mood","disabled":false,"hidden":false}]